<div class = "d-flex flex-column justify-content-center align-items-center vh-100">
  <div class = "container text-center">
    <h1> La question du coach :</h1>
    <p>Tu veux faire quoi aujourd'hui mamen ?</p>
    </div>
    <div class="container w-50">
      <form action="/answer" method="get">
        <div class="form-group pb-2">
          <label  for="exampleInputEmail1">l'exooo</label>
          <input type="text" name="exo" placeholder="Quel exo aujourd'hui ?"class="form-control " id="exampleInputEmail1">
        </div>
        <button type="submit" class="btn btn-primary pt-2">Submit</button>
      </form>
    </div>
</div>
